body{
	font-size: 15px;
	line-height: 1.4em;
	color: #8e8e8e;
      padding: 0;
    border: 0;
	font-family: 'Raleway', sans-serif;
}

h1, h2, h3,h4,h5,h6{
	color: #000;
}

h1, h2, h3{
	text-transform: uppercase;
}

h2{
	font-size: 25px;
}

h3{
	font-size: 20px;
}

a{
	color: #fa5c58;
	text-decoration: none;
}

a:hover,
a:focus{
	color: #fa5c58;
	text-decoration: underline;
}

section header{
	text-align: center;
padding: 0;
margin: 0;
        
}

section header h2{
	font-weight: 500;
	text-transform: uppercase;
}

section header p{
	width: 50%;
	margin: 0 auto;
}

section.dark header h2,
section.dark header p{
	color: #fff;
}



/*************************
NAVBAR
*************************/

.navbar-default{
	background-color: #fff;
	margin-bottom: 0;
	height: 90px;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid #d2d2d2;
	transition: all 0.250s;
}

.navbar-default .nav{
	margin-top:19px;
	margin-bottom: 19px;
}

.navbar-default .nav li a{
	font-size: 14px;
	text-transform: uppercase;
	border: 1px solid transparent;
}

.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus {
	color: #000;
	border: 1px solid #fa5c58;
}

.navbar-small{
	height: 70px;
}

.navbar-small .navbar-brand{
	padding: 2px 15px;
}

.navbar-small .nav{
	margin-top:0px;
	border: none;
}

.navbar-default .navbar-nav{
    margin-left: -750px;
}

.navbar-default .navbar-nav > li > a{
	border: none;
        
}

.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus{
	color: #fa5c58;
	border:none;
}

.jumbotron{
	margin-bottom: 0;
}

.slide{
	background: url(../img/Slider.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	height: 500px;
	color: #fff;
	text-align: center;
	height: 900px;
	text-transform: uppercase;
}

.slide .container{
	margin-top:25%;
	margin-top:30vh;
}

.slide h1{
	vertical-align: middle;	
	font-size: 55px;
	font-size: 8.5vmin;
	margin-bottom: 70px;
	text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}

.slide span{
	margin-bottom: 30px;
}




/*****************
SOCIAL ICONS
******************************/
ul.social{
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.social li{
	display: inline-block;
	width: 30px;

}

ul.social li a{
	text-decoration: none;

}


ul.social li a i{
	color: #fff;
	width: 32px;
	height: 32px;
	display: block;
	line-height: 32px;
	text-align: center;
	-webkit-transition: all 0.5;
	transition: all 0.5s;
}


ul.social li a i:hover,
ul.social li a i:focus{
	border-radius: 100%;
	background-color: #fff;
	color: #fff;

}

ul.social li a:hover .fa-facebook{
	background-color:#3b5998;
}

ul.social li a:hover .fa-twitter{
	background-color: #55acee;
}

ul.social li a:hover .fa-dribbble{
	background-color: #ea4c89;
}

ul.social li a:hover .fa-behance{
	background-color: #1769ff;
}

ul.social li a:hover .fa-pinterest{
	background-color: #cc2127;
}

ul.social li a:hover .fa-google{
	background-color: #dd4b39;
}

.address {
	margin-bottom: 100px;
	color: #000;
}

.address span{
	display: block;
	font-size: 20px;
	line-height: 1.4em;
}

.circled{
	display: block;
	border-radius: 100%;
	background-color: #fa5c58;
	width: 80px;
	height: 80px;
	color: #fff;
	line-height: 80px;
	font-size: 35px;
	text-align: center;
	margin:0 auto;
	margin-bottom: 25px;
}

a.circled:hover,
a.circled:focus{
	color: #fff;
	text-decoration: none;
}


section{ 
  
   background: #d5d5d5;
    margin-top: 130px;
    padding: 10px;
    height: 350px;
    width: 50%;
    margin-left: 350px;
}

section h3{ 
    text-align: center;
    margin-top: 60px;
}

section form{ 
    margin-top: 130px;
 text-align: center;
}

section p{
   text-align: right;
   margin-right: 60px;
   margin-top: 10px;
}

section a{
    margin-left: 10px;
}

footer{
	text-align: center;
	background:#000;
	color: #fff;
        margin-top: 100px;
        height: 153px;
        
}

footer .acesso{
	margin-left: 1000px;
        position: absolute;
        margin-top: -20px;
}

footer .copyright{
	margin-bottom: 10px;
        margin-top: 20px;
        
}

footer .social{
	margin-bottom: 20px;
        margin-top: 10px;
        font-size: 20px;
}




